Package: resque-ok
Version: 0.3-4
Section: net
Priority: optional
Architecture: all
Depends: redis-server
Maintainer: John Eikenberry <jae@zhar.net>
Description: Program to monitor resque queues via email notifications
    and/or work as a plugin for nagios, sensu and possibly others.
