Package: resque-ok
Version: 0.3-3
Section: net
Priority: optional
Architecture: all
Depends: redis-server
Maintainer: John Eikenberry <jae@zhar.net>
Description: Program to monitor resque queues and/or work as a plugin for
	nagios, sensu and possibly others.
